@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root{
    --base: #000000;
    --white: #FFFFFF;
    --base-lighter: #141414;

    --default-spacing: 7vw;

    --accent-font: 'Monda';
    --base-font: 'Nunito';
}

* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow-x: hidden;
    background-color: black;
    color: var(--white);
    cursor: none;
}


a{
    text-decoration: none;
    cursor: none;
    color: var(--white);
}

button {
    font-family: var(--base-font);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(14px, 1vw, 1.6rem);
    padding: clamp(10px, 1vw, 1.5rem) clamp(1rem, 1.3vw, 2rem);
    animation: left-to-right 1s ease-in-out;
}

button > a{
    color: var(--base);
}

nav{
    display: flex;
    justify-content: space-between; 
    padding: 3vw var(--default-spacing);
    animation: top-to-bottom 1s ease-in-out;
}


.hero{
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background-image: url("./assets/hero-bg.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 50%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.55);
    background-blend-mode: multiply;
}

.logo-container > a{
    display: flex;
}

.logo-img{
    font-size: 2rem;
}

.logo-text {
    font-family: var(--accent-font);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1rem, 1.2vw, 3rem);
}

nav ul{
    display: flex;
    list-style: none;
}

.nav-item{
    padding: 0 2rem;
    font-family: var(--base-font);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1rem, 1vw, 2rem);
    line-height: 30px;
}

.nav-item > a{
    color: var(--white);
}

.hamburger {
    display: none;
}

.hero-main{
    margin: 0 var(--default-spacing);
    display: flex;
    height: 100%;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40vw;
    /* height: 100%; */
}

.hero-heading{
    font-family: var(--accent-font);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(2rem, 3.3vw, 5rem);
    line-height: 4rem;
    color: var(--white); 
    animation: left-to-right 1s ease-in-out;
}

.hero-description{
    font-family: var(--base-font);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 1vw, 1.5rem);
    color: var(--white);
    padding: 1.5rem 0;
    animation: left-to-right 1s ease-in-out;
}

.hero-right{
    width: 60vw;
    padding-left: 15vw;
    padding-top: 5vw;
}

.hero-right > img{
    width: 80%;
    transform: scaleX(-1); 
    animation: right-to-left 1s ease-in-out;
}

@keyframes right-to-left {
    0%{
        transform: translateX(100%);
        opacity: 0
    }

    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes top-to-bottom{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }

    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes left-to-right{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }

    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

.inner-cursor{
    position: fixed;
    left: 10px;
    width: 10px; 
    height: 10px; 
    transform: translate(-50%, -50%);
    background-color: var(--white);
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow{
    width: 25px;
    height: 25px;
    transition: width 0.5s, height 0.5s;
}

.outer-cursor{
    position: fixed;
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border: 1px solid var(--white);
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
}

.testimonials {
    background-color: var(--base-lighter);
    height: fit-content;
}

.section-header-container{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--default-spacing);
}

.section-header{
    font-weight: normal;
    font-family: var(--accent-font);
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    color: var(--white);
}

.testimonial-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 var(--default-spacing);
    padding-bottom: var(--default-spacing);
    gap: 20px;
}

.testimonial-card{
    width: 300px;
    height: 400px;
    background-color: var(--white);
}

.user-img-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    padding: 5% 0;
}

.user-img{
    width: 40%;
    border-radius: 50%;
    background: url("./assets/john_doe.jpg");
    background-size: cover;
}

.user-rating-container{
    display: flex;
    flex-direction: column;
    padding: 10%;
    gap: 2rem;
}

.user-rating-container-top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--base);
    font-family: var(--base-font);
}

.user-name{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.user-location{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

.user-rating-description{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--base);
}

.trips{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--default-spacing) 0px;
}

.trips-right{
    width: 50vw;
    padding-right: var(--default-spacing);
}

.promo-video{
    width: 100%;
    padding-top: var(--default-spacing);
    min-width: 300px;
}

.trips-left{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.trips-left-bottom{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 0 var(--default-spacing);
}

.trips-description{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    padding-bottom: 2vw;
}

.benefits{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: var(--default-spacing);
    background-color: var(--base-lighter);
    gap: 8rem;
}

.benefits-card{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 260px;
}

.benefits-card-img{
    width: 115px;
    height: 100px;
}

.speedometer{
    width: 150px;
}

.benefits-card-header{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: var(--white);
    padding: 10px 0;
}

.benefits-card-description{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: var(--white);
}

.benefits-card-link{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.753);
    text-decoration: underline;
}


footer{
    padding: var(--default-spacing);
    background: var(--white);
    display: flex;
    height: fit-content;
}


.description-and-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--base);
    width: 25%;
    padding: 0 2rem;
}

.footer-logo-img{
    color: var(--base);
}

.footer-logo-text{
    color: var(--base);
}

.footer-description{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    width: 30ch;
    padding-top: 2vw;
}

.site-links-section{
    width: 20%;
    padding: 0 2rem;
}

.footer-header{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: var(--base);
    padding-bottom: 2vw;
}

.site-links{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1vw;
}

.site-links > .nav-item{
    padding: 0;
}

.site-links > .nav-item > a{
    color: var(--base);
}

.contact-info{
    width: 30%;
}

.contact-method{
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
}

.contact-method-heading{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: var(--base);
} 

.contact-method-description > a{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--base);
}

.social-media-container{
    display: flex;
    gap: 0.5rem;
}

.social-media-container > a > i{
    color: var(--base);
    font-size: 30px;
}

.footer-map{
    width: 25%;
}

.footer-map > iframe{
    min-width: 250px;
}

@media only screen and (max-width: 1100px){

    .hero-main{
        flex-direction: column;
    }

    .hero-left{
        height: 40%;
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .line {
        width: 30px;
        height: 3px;
        background: var(--white);
        margin: 6px 0;
    }

    .nav-link-container{
        position: absolute;
        top: 10%;
        right: -100%;
        width: 50%;
        height: 90vh;
        background: var(--base);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;
        transition: all 1s ease;
        z-index: 1000;
    }
    .nav-item:first-of-type{
        padding-top: 10vw;
    }
    .nav-item{
        display: block;
    }

    .active{
        right: 0%;
    }

    .section-header-container{
        justify-content: center;
        padding: 0;
    }

    .trips{
        flex-direction: column;
    }

    .trips-right{
        padding-right: 0;
    }
    
    .trips-description{
        text-align: center;
    }

    .trips-left-bottom{
        justify-content: center;
        align-items: center;
    }

    .trips-left{
        width: 100%;
    }

    .trips-right{
        width: 100%;
    }

    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .site-links > .nav-item:first-of-type{
        padding-top: 0;
    }

    .site-links-section{
        min-width: 275px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--default-spacing) 0;
        text-align: center;
    }

    .footer-header{
        text-align: center;
    }

    .contact-info{
        min-width: 275px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: var(--default-spacing);
    }

    .contact-method{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer-map{
        min-width: 275px;
    } 
}

@media only screen and (max-width: 510px){
    .hero-heading{
        line-height: 2rem; 
    }
    .inner-cursor{
        display: none;
    }
    .outer-cursor{
        display: none;
    }
    body{
        cursor: default;
    }

    .hero-right{
        padding: 0;
    }

    .hero-right > img{
        width: 90vw;
        height: 100%;
    }
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.testimonial-card:nth-child(2){
    transition-delay: 200ms;
}

.testimonial-card:nth-child(3){
    transition-delay: 400ms;
}

.testimonial-card:nth-child(4){
    transition-delay: 600ms;
}

.benefits-card:nth-child(2){
    transition-delay: 200ms;
}

.benefits-card:nth-child(3){
    transition-delay: 400ms;
}

.benefits-card:nth-child(4){
    transition-delay: 600ms;
}

.hero-button .hidden{
    transition-delay: 200ms;
}

@media (prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

/* About Page */

/* Our Story Section */
.our-story-container{
    display: flex;
    padding: 0 var(--default-spacing) var(--default-spacing);
    height: fit-content;
    font-family: var(--base-font);
}

.our-story-text{
    line-height: 35px;
}

.our-story-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.our-story-img{
    width: 70%;
    min-width: 300px;
}

@media only screen and (max-width: 1100px){
    .our-story-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .our-story-section{
        width: 100%;
    }

    .our-story-right{
        padding: var(--default-spacing) 0;
    }
}

/* Meet the Team Section */

.meet-the-team {
    background-color: var(--base-lighter);
    height: fit-content;
}

.people-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 var(--default-spacing);
    padding-bottom: var(--default-spacing);
    gap: 20px;
}

.person-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 300px;
    height: 450px;
    background-color: var(--white);
}

.person-img-container{
    display: flex;
    justify-content: center;
    height: 50%;
    background-image: url("https://via.placeholder.com/300x225");
    background-size: cover;
}

.person-details{
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 2rem;
    color: var(--base);
    font-family: var(--base-font)
}

.person-name{
    font-weight: 700;
    font-size: 20px;
}

.person-details-description{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

/* Trips Page */

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container{
    padding: 10px 0px;
    position: relative;
    width: 50%;
    font-family: var(--base-font);
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px)
    }
}

.container:nth-child(2){
    animation-delay: 1s;
}

.container:nth-child(3){
    animation-delay: 2s;
}

.container:nth-child(4){
    animation-delay: 3s;
}

.container:nth-child(5){
    animation-delay: 4s;
}

.container:nth-child(6){
    animation-delay: 5s;
}

.text-box{
    padding: 20px 30px;
    position: relative;
    font-size: 15px;
    border-radius: 6px;
    background-color: #141414;
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.timeline-dot{
    width: 40px;
    height: 40px;
    background-color: var(--white);
    position: absolute;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container .timeline-dot{
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--white);
    top: 0;
    left: 50%;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;
    }

    100%{
        height: 100%;
    }
}

@media only screen and (max-width: 768px){
    .timeline{
        margin: 50px auto;
    }

    .timeline::after{
        left: 31px;
    }

    .container{
        width: 80%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box{
        font-size: 14px;
    }

    .right-container{
        left: 0;
    }

    .left-container .timeline-dot, .right-container .timeline-dot{
        left: 10px
    }
}

/* Vehicles Page */ 

.vehicles{
    height: 100vh;
    padding: 0 2rem var(--default-spacing);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    height: fit-content;
}

.vehicle{
    width: 25%;
    height: 300px; 
    min-width: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.6);
    background: red;
}

.vehicle img{
    height: 100%;
    width: 100%;
}

.vehicle-overlay{
    position: absolute;
    top: 0;
    right: 0;   
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: black;  
}

.vehicle-content{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: var(--base-font);
    text-align: center;
}

.vehicle:hover .vehicle-overlay{
    opacity: 0.8;
}

@media only screen and (max-width:1100px){
    .vehicles{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px){
    .vehicles{
        grid-template-columns: 1fr;
    }
}

/* Contact Section */

.contact{
    height: fit-content;
    display: flex;
    font-family: var(--base-font);
}

.contact-form-image{
    width: 50%;
    height: 100vh;
    background-image: url("https://via.placeholder.com/700");
    background-size: fill;
}

.contact-form{
    background: var(--base-lighter);
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact-form form{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

.contact-form-section{
    display: flex;
    flex-direction: column;
}

.contact-form-section input{
    padding: 0.5rem;
}

textarea{
    padding: 0.5rem;
    font-family: var(--base-font);
    resize: none;
}

.form-submit{
    background: var(--white)
}

.contact-form-section:nth-child(2){
    transition-delay: 200ms;
}
.contact-form-section:nth-child(3){
    transition-delay: 300ms;
}
.contact-form-section:nth-child(4){
    transition-delay: 400ms;
}
/* .contact-form-section:nth-child(5){
    transition-delay: 500ms;
} */
.form-submit{
    transition-delay: 600ms;
}

@media only screen and (max-width: 768px){
    .contact{
        flex-direction: column;
    }
    .contact-form-image{
        width: 100%;
    }
    .contact-form{
        width: 100%;
    }
}